@using SL.Util
@using SL.Data
@{
    RequestUtil req = new RequestUtil();

    if ("add" == Request.QueryString["action"])
    {
        Layout = null;

        var cover = req.File("cover", false, "缺少正面图片");
        var cover1 = req.File("cover1", false, "缺少反面图片");
        var picture = req.File("pic", false, "缺少服装图片");
        string name = req.String("name", false, "缺少服装名称");
        string url = req.String("url");
        string callback = req.String("callback");

        if (req.HasError)
        {
            HtmlUtil.IFrameResult(new { success = false, msg = req.FirstError, errors = req.GetErrors() });
            return;
        }

        DateTime now = DateTime.Now;

        string coverSrc = cover.Save();
        string cover1Src = cover1.Save();
        string src = picture.Save();

        SQL.Execute("insert into Closes (Cover,Cover1,CloseName,Picture,Url) values (@p0,@p1,@p2,@p3,@p4)", coverSrc, cover1Src, name, src, url);

        HtmlUtil.IFrameResult(new { success = true });
        return;
    }
    else if ("modify" == Request.QueryString["action"])
    {
        Layout = null;

        var cover = req.File("cover");
        var cover1 = req.File("cover1");
        var picture = req.File("pic");
        int id = req.Int("id", false, "缺少服装ID");
        string name = req.String("name", false, "缺少服装名称");
        string url = req.String("url");
        string callback = req.String("callback");

        if (req.HasError)
        {
            HtmlUtil.IFrameResult(new { success = false, msg = req.FirstError, errors = req.GetErrors() });
            return;
        }

        string set = "";
        List<object> parameters = new List<object> { id, name, url };

        if (!cover.IsEmpty)
        {
            string origSrc = SQL.QueryValue<string>("select Cover from Closes where CloseID=@p0", id);
            RequestFile.Delete(origSrc);

            string src = cover.Save();

            set += ",Cover=@p" + parameters.Count;
            parameters.Add(src);
        }

        if (!cover1.IsEmpty)
        {
            string origSrc = SQL.QueryValue<string>("select Cover1 from Closes where CloseID=@p0", id);

            RequestFile.Delete(origSrc);

            string src = cover1.Save();

            set += ",Cover1=@p" + parameters.Count;
            parameters.Add(src);
        }

        if (!picture.IsEmpty)
        {
            string origSrc = SQL.QueryValue<string>("select Picture from Closes where CloseID=@p0", id);
            RequestFile.Delete(origSrc);

            string src = picture.Save();

            set += ",Picture=@p" + parameters.Count;
            parameters.Add(src);
        }

        SQL.Execute("update Closes set CloseName=@p1,Url=@p2" + set + " where CloseID=@p0", parameters.ToArray());

        HtmlUtil.IFrameResult(new { success = true });
        return;
    }
    else if ("delete" == Request.QueryString["action"])
    {
        Layout = null;

        int id = req.Int("id", false, "缺少服装ID");
        string callback = req.String("callback");

        if (req.HasError)
        {
            HtmlUtil.IFrameResult(new { success = false, msg = req.FirstError, errors = req.GetErrors() });
            return;
        }

        var pics = SQL.QuerySingle("select Cover,Cover1,Picture from Closes where CloseID=@p0", id);
        RequestFile.Delete(pics.Picture);
        RequestFile.Delete(pics.Cover);
        RequestFile.Delete(pics.Cover1);

        SQL.Execute("delete Closes where CloseID=@p0", id);

        HtmlUtil.IFrameResult(new { success = true });
        return;
    }
    else if ("get" == Request.QueryString["action"])
    {
        Layout = null;
        var data = SQL.Query("select Cover,Cover1,CloseID,CloseName,Picture,Url from Closes");

        if (data != null)
        {
            data.All(a =>
            {
                a["Picture"] = RequestFile.FullUrl(a["Picture"]);
                a["Cover"] = RequestFile.FullUrl(a["Cover"]);
                a["Cover1"] = RequestFile.FullUrl(a["Cover1"]);
                return true;
            });
        }

        Json.Write(new { success = true, data = data }, Output);
        return;
    }
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
<h1>管理时尚搭配图片</h1>
<div id="toolbar" class="toolbar"></div>
<div id="grid"></div>
<script>
    seajs.use(['jquery','lib/buttons','lib/popup','lib/grid','lib/global.css'],function ($,Buttons,popup) {

        //添加服装
        var dialogAddForm=new popup.Form({
            url: '?action=add',
            title: '添加服装图片',
            width: 520,
            controls: {
                cover: {
                    label: '正面图片',
                    type: 'file',
                    validation: {
                        emptyAble: false,
                        emptyText: '请上传正面图片'
                    }
                },
                cover1: {
                    label: '反面图片',
                    type: 'file',
                    validation: {
                        emptyAble: false,
                        emptyText: '请上传反面图片'
                    }
                },
                pic: {
                    label: '弹框图片',
                    type: 'file',
                    validation: {
                        emptyAble: false,
                        emptyText: '请上传弹框图片'
                    }
                },
                name: {
                    label: '弹出框描述',
                    type: 'text',
                    validation: {
                        emptyAble: false,
                        emptyText: '请填写弹出框描述'
                    }
                },
                url: {
                    label: '跳转地址',
                    type: 'text'
                }
            },
            buttons: [{
                text: '添加',
                click: function () {
                    dialogAddForm.submit({
                        beforeSend: function () {
                        },
                        success: function (res) {
                            if(res.success) {
                                dialogAddForm.hide().reset();
                                grid.search();
                            } else
                                alert(res.msg);
                        },
                        error: function () {
                        }
                    });
                }
            },{
                text: '取消',
                click: function () {
                    dialogAddForm.hide();
                }
            }]
        });

        //修改服装
        var dialogModify=new popup.Form({
            url: '?action=modify',
            title: '修改下落的服装',
            width: 520,
            controls: {
                id: {
                    type: 'hidden'
                },
                cover: {
                    label: '正面图片',
                    type: 'file'
                },
                cover1: {
                    label: '反面图片',
                    type: 'file'
                },
                pic: {
                    label: '弹框图片',
                    type: 'file'
                },
                name: {
                    label: '弹出框描述',
                    type: 'text',
                    validation: {
                        emptyAble: false,
                        emptyText: '请填写弹出框描述'
                    }
                },
                url: {
                    label: '跳转地址',
                    type: 'text'
                }
            },
            buttons: [{
                text: '修改',
                click: function () {
                    dialogModify.submit({
                        beforeSend: function () {
                        },
                        success: function (res) {
                            if(res.success) {
                                dialogModify.hide().reset();
                                grid.search();
                            } else
                                alert(res.msg);
                        },
                        error: function () {
                        }
                    });
                }
            },{
                text: '取消',
                click: function () {
                    dialogModify.hide();
                }
            }]
        });

        var buttons=new Buttons("#toolbar",[{
            text: "添加服装",
            ico: 'add',
            click: function () {
                dialogAddForm.show();
            }
        },{
            text: "修改",
            ico: "modify",
            disabled: true,
            click: function () {
                var data=grid.selectedRow().data;
                dialogModify.control("id").val(data.CloseID);
                dialogModify.control("name").val(data.CloseName);
                dialogModify.control("url").val(data.Url);
                dialogModify.show();
            }
        },{
            text: "删除",
            ico: "delete",
            disabled: true,
            click: function () {
                if(!window.confirm('确认删除？')) return;
                var data=grid.selectedRow().data;

                $.ajax({
                    url: '?action=delete',
                    type: 'post',
                    data: {
                        id: data.CloseID
                    },
                    dataType: 'json',
                    success: function (res) {
                        if(res.success) {
                            alert('删除成功！');
                            grid.search();
                        } else
                            alert(res.msg);
                    }
                });

            }
        }]);


        var grid=$('#grid').grid({
            search: {
                beforeSend: function () {
                    buttons.items([1,2]).disable();
                },
                url: '?action=get'
            },
            rowHeight: 100,
            onRowSelect: function (row,data) {
                buttons.items([1,2]).enable();
            },
            columns: [{
                text: "图片",
                bind: 'Cover',
                width: 6,
                align: 'center',
                render: function (cell,data) {
                    cell.append('<a href="'+data.Cover+'" target="_blank"><img src="'+data.Cover+'" height="100%" /></a>');
                }
            },{
                text: "图片",
                bind: 'Cover1',
                width: 6,
                align: 'center',
                render: function (cell,data) {
                    cell.append('<a href="'+data.Cover1+'" target="_blank"><img src="'+data.Cover1+'" height="100%" /></a>');
                }
            },{
                text: "图片",
                bind: 'Picture',
                width: 6,
                align: 'center',
                render: function (cell,data) {
                    cell.append('<a href="'+data.Picture+'" target="_blank"><img src="'+data.Picture+'" height="100%" /></a>');
                }
            },{
                text: '编号',
                bind: 'CloseID',
                width: 6
            },{
                text: '描述',
                bind: 'CloseName',
                width: 10,
                render: function (cell,data) {
                    cell.append(data.CloseName+'<br>'+data.Url);
                }
            }]
        }).search();

    });
</script>
