<section class="main prizewrap">
    <div class="logo"></div>
    <div class="prizebg">
        <b>恭喜您！</b>
        <span>中了<span class="js_text"></span>1个！</span>
        <img class="js_img" src="" />
        <p class="js_get">请填写您的收货地址</p>
    </div>
</section>
<div class="screen hide js_mask" style="background: rgba(0,0,0,.5); position: fixed; top: 0; left: 0; -webkit-transition: opacity 200ms ease 0ms; display: none;"></div>
<div class="addressdialog hide js_dialog">
    <div class="hd">请正确填写以下信息</div>
    <ul>
        <li><input class="js_receiver" placeholder="请输入收件人" /></li>
        <li><input class="js_phone" placeholder="请输入电话" /></li>
        <li><input class="js_zip" placeholder="请输入邮编" /></li>
        <li><input class="js_address" placeholder="请输入地址" /></li>
    </ul>
    <div class="action"><b class="btn_red js_accept" hl>确认</b></div>
</div>
