<section class="main wrongwrap">
    <div class="righthd"></div>
    <ul class="righttext">
        <li class="js_text"></li>
    </ul>
    <div class="jointext">恭喜您猜对了！<br>
        快来赢取MANGO时尚好礼吧！</div>
    <b class="joinbtn js_get" hl>赢取时尚好礼</b> </section>
<div class="screen hide js_mask" style="background: rgba(0,0,0,.5); position: fixed; top: 0; left: 0; -webkit-transition: opacity 200ms ease 0ms; display: none;"></div>
<div class="sharedialog hide js_dialog"><b class="btn_close js_close"></b>
    <div class="hd">请留下您的信息参与抽奖</div>
    <ul>
        <li><input class="js_name" placeholder="请输入您的姓名" /></li>
        <li><input class="js_email" placeholder="请输入您的邮箱" /></li>
        <li><input class="js_mobile" placeholder="请输入您的手机" /></li>
    </ul>
    <div class="action"><b class="btn_red js_accept" hl>确认</b></div>
</div>
