<section class="main sharewrap">
    <div class="step3">点击右上角<i class="ico_share"></i>分享好友，看<br>看谁能猜中你的时尚最爱，打<br>开你的秘密噢！</div>
    <div class="shareletter"></div>
    <div class="sharenote">你的时尚秘密已生成</div>
    <div class="action"><b class="btn js_get" hl>赢取时尚礼物</b></div>
    <!--<div class="sharenote1">PS:成功分享后才能参与抽奖噢！</div>-->
</section>
<div class="screen hide js_mask" style="background: rgba(0,0,0,.5); position: fixed; top: 0; left: 0; -webkit-transition: opacity 200ms ease 0ms; display: none;"></div>
<div class="sharedialog hide js_dialog">
    <b class="btn_close js_close"></b>
    <div class="hd">请留下您的信息参与抽奖</div>
    <ul>
        <li><input class="js_name" placeholder="请输入您的姓名" /></li>
        <li><input class="js_email" placeholder="请输入您的邮箱" /></li>
        <li><input class="js_mobile" placeholder="请输入您的手机" /></li>
    </ul>
    <div class="action"><b class="btn_red js_accept" hl>确认</b></div>
</div>
