<section class="main js_main bg prizewrap">
    <div class="content">
        <div class="prizebg">
            <div class="prizecon">
                <div style="margin: 40px 20px 10px 20px; border-bottom: 1px dotted #333; padding-bottom: 20px"><b>很遗憾！</b> <span>您没有中奖！</span> </div>
                <p style="text-decoration: none; font-size: 14px;">之后将会有更多的互动游戏，<br>
                    欢迎持续关注！</p>
                <b class="btn js_share">把活动分享给好友</b> </div>
        </div>
    </div>
</section>
<div class="share"></div>
