<section class="main bg startwrap">
    <div class="content">
        <div class="userinfo form">
            <div class="hd">请填写以下信息，参与抽奖！</div>
            <ul>
                <li><span>姓名：</span><input class="js_name" type="text" /></li>
                <li><span>手机号码：</span><input class="js_mobile" type="tel" /></li>
                <li><span>电子邮箱：</span><input class="js_email" type="email" /></li>
            </ul>
            <div class="action"><em class="link js_start">立即抽奖>></em></div>
        </div>
    </div>
</section>
<div class="screen hide js_mask" style="background: rgba(0,0,0,.5); position: fixed; top: 0; left: 0; -webkit-transition: opacity 200ms ease 0ms; display: none;"></div>
<div class="infodialog hide js_dialog" style="display: none;">
    <div class="hd">此手机号码已注册！<br>
        请完善您的信息参与抽奖！</div>
    <ul class="info">
        <li><span>手机：*</span><input class="js_mobile1" type="tel" readonly /></li>
        <li><span>性别：*</span><em class="checkbox checked" data-name="gender" data-value="2"><i></i>女</em><em class="checkbox" data-value="1" data-name="gender"><i></i>男</em></li>
        <li><span>生日：*</span><input class="js_birthday" type="date" /></li>
        <li><span>省份：*</span><select class="js_province"></select></li>
        <li><span>城市：*</span><select class="js_city"></select></li>
        <li><span>地址：*</span><input class="js_address" type="text" /></li>
    </ul>
    <div class="action"><b class="btn js_ok">确定</b></div>
</div>
